################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskSchedulerRockWell/.vs
/TaskSchedulerRockWell/TaskSchedulerRockWell/bin/Debug/net8.0
/TaskSchedulerRockWell/TaskSchedulerRockWell/obj
/TaskSchedulerRockWell/TaskSchedulerRockWell/TaskSchedulerRockWell.csproj.user
/ClientApp/node_modules
/ClientApp/dist