.custom-background {
  background-color: #DCD9D9;
  padding: 20px;
}

.white-text {
  color: #4A235A;
}

.border-color-purple {
  border-color: #7B4CE5 !important; /* Usa !important para asegurar que el estilo se aplique */
}

.btn-custom {
  background-color: #231444;
  color: #ffffff;
}
